{% extends "layout.html" %}

{% block title_container %}
<title>{{ recipe.title }} | Salt To Taste</title>
{% endblock %}

{% block body_container %}
<div class="container mt-1">
  <div class="row pb-2 row-cols-1 row-cols-md-2 no-gutters">
    <div class="col pr-0 pr-md-2 order-2 order-md-1">
      <div class="recipe-details-title">
        {{ recipe.title }}
      </div>
      <div>
        <a class="ml-1 recipe-details-action recipe-details-download" href="{{ url_for('main.download_recipe', filename=recipe.filename) }}" title="Download recipe">
          <i class="fas fa-file-download fa-lg"></i>
        </a>
        {% if current_user.is_authenticated %}
        <a class="ml-1 recipe-details-action recipe-details-edit" href="{{ url_for('main.update', recipe_id=recipe.id) }}" title="Edit recipe">
          <i class="fas fa-edit fa-lg"></i>
        </a>
        <a class="ml-1 recipe-details-action recipe-details-delete" href="#" data-toggle="modal" data-target="#deleteModal" title="Delete recipe">
          <i class="fas fa-trash-alt fa-lg"></i>
        </a>
        {% endif %}
      </div>
      {% if recipe.tags %}
      <div class="py-2 recipe-details-tags">
        {% for tag in recipe.tags %}
          <a onclick="tagSearch('tag:{{ tag }}')" href="/">
            <span class="px-1 rounded recipe-details-tag {{ tag | replace (' ', '-') }}">
              {% if tag == 'vegetarian' %}
              <i class="fas fa-leaf"></i> {{ tag|capwords }}
              {% elif tag == 'quick meal' %}
              <i class="fas fa-stopwatch"></i> {{ tag|capwords }}
              {% elif tag == 'spicy' %}
              <i class="fas fa-pepper-hot"></i> {{ tag|capwords }}
              {% else %}
              {{ tag|capwords }}
              {% endif %}
            </span>
          </a>
        {% endfor %}
      </div>
      {% endif %}
      <div class="row py-2 text-center no-gutters border-top recipe-details-section-info">
        <div class="col info-item">
          <i class="fas fa-clock fa-2x info-item-icon"></i>
          {% if recipe.prep or recipe.cook or recipe.ready %}
          <div class='py-1 info-item-heading'>{% if recipe.ready or (recipe.prep and recipe.cook) %}Ready In{% elif recipe.prep %}Prep Time{% elif recipe.cook %}Cook Time{% endif %}</div>
          <div class="info-item-value">
            {% if recipe.ready %}{{ recipe.ready }}{% elif recipe.prep and recipe.cook %}{{ recipe.prep + recipe.cook }}{% elif recipe.prep %}{{ recipe.prep }}{% elif recipe.cook %}{{ recipe.cook }}{% endif %} min
          </div>
          {% else %}
          <div class='py-1 info-item-heading'>Ready In</div>
          <div class="info-item-value">
            -
          </div>
          {% endif %}
        </div>
        <div class="col info-item">
          <i class="fas fa-utensils fa-2x info-item-icon"></i>
          <div class='py-1 info-item-heading'>Servings</div>
          <div class="info-item-value">
            {% if recipe.servings %}
            {{ recipe.servings }}
            {% else %}
            -
            {% endif %}
          </div>
        </div>
        <div class="col info-item">
          <i class="fas fa-fire fa-2x info-item-icon"></i>
          <div class='py-1 info-item-heading'>Nutrition</div>
          <div class="info-item-value">
            {% if recipe.calories %}
            {{ recipe.calories }} calories
            {% else %}
            -
            {% endif %}
          </div>
        </div>
      </div>
      {% if recipe.description %}
      <div class="py-2 border-top recipe-details-description">
        {{ recipe.description }}
      </div>
      {% endif %}
      {% if recipe.notes %}
      <div class="row no-gutters pt-2 border-top recipe-details-section-notes">
        <div class="col-12 details-section-title">
          Notes
        </div>
        <ul class="col-12 row no-gutters pt-2 notes-list">
          {% for note in recipe.notes %}
            {% if note != '' %}
            <li class="notes-list-item">{{ note }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="col order-1 order-md-2 rounded recipe-details-image" {% if recipe.image %}style="background-image: url('{{ url_for('main.image', filename=recipe.image) }}')"{% endif %}>
    </div>
  </div>
  {% if recipe.ingredients %}
  <div class="row no-gutters py-2 border-top recipe-details-section-ingredients">
    <div class="col-12 details-section-title">
      Ingredients
    </div>
    <ul class="col-12 row row-cols-1 row-cols-md-2 row-cols-lg-3 pt-2 ingredients-list">
      {% for ingredient in recipe.ingredients %}
        {% if ingredient != '' %}
        <li class="col py-1 ingredients-list-item">{{ ingredient }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if recipe.directions %}
  <div class="row no-gutters py-2 border-top recipe-details-section-directions">
    <div class="col-12 details-section-title">
      Directions
    </div>
    <div class="col-12 row row-cols-1 row-cols-md-2 row-cols-lg-3 no-gutters directions-list">
      {% for direction in recipe.directions %}
      <div class="col pr-2 pt-2">
        <div class="p-3 h-100 border rounded directions-item">
          <div class="pb-2 border-bottom directions-item-title">
            Step {{ loop.index }}
          </div>
          <div class="pt-2 directions-item-content">
            {{ direction }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
