{% extends "layout.html" %}

{% block title_container %}
<title>Settings | Salt To Taste</title>
{% endblock %}

{% block body_container %}
<div class="container mt-1">
  <h1 class="page-title mt-md-4 mb-md-2">Settings</h1>
  <div class="row mt-4">
    <div class="col-12 col-md-3">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-general-list" data-toggle="list" href="#list-general" role="tab" aria-controls="general">General</a>
        <a class="list-group-item list-group-item-action" id="list-tags-list" data-toggle="list" href="#list-tags" role="tab" aria-controls="general">Tags</a>
        <a class="list-group-item list-group-item-action" id="list-third_party-list" data-toggle="list" href="#list-third_party" role="tab" aria-controls="access">Third Party Connections</a>
      </div>
    </div>
    <div class="col-12 col-md-9 mt-3 mt-md-0">
      <form class="needs-validation" action="/settings" method="post" novalidate>
        {{ form.csrf_token }}
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane show active" id="list-general" role="tabpanel" aria-labelledby="list-general-list">
            <h5 class="mb-3">Authentication</h5>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" name="authentication_enabled" id="authentication_enabled" {% if form.authentication_enabled.data == 'True' %}checked{% endif %}>
              <label class="form-check-label" for="authentication_enabled">
                Enable authentication
              </label>
            </div>
            <div {% if not authentication_enabled %}style="display: none;"{% endif %} id="authentication_details">
              <div class="form-group mb-2">
                <label for="username">Username</label>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <input class="form-control {% if form.username.errors %}is-invalid{% endif %}" type="text" name="username" id="username" {% if form.username.data %}value="{{ form.username.data }}"{% endif %}>
                    <div class="invalid-feedback">
                      {% if form.username.errors %}
                      {{ form.username.errors[0] }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-2">
                <label for="password">Password</label>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <input class="form-control {% if form.password.errors %}is-invalid{% endif %}" type="password" name="password" id="password" {% if form.password.data %}value="{{ form.password.data }}"{% endif %}>
                    <div class="invalid-feedback">
                      {% if form.password.errors %}
                      {{ form.password.errors[0] }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" name="userless_recipes" id="userless_recipes" {% if form.userless_recipes.data == 'True' %}checked{% endif %}>
                <label class="form-check-label" for="userless_recipes">
                  Allow access to recipes without logging in
                </label>
              </div>
            </div>
            <h5 class="mt-4 mb-3">API</h5>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" name="api_enabled" id="api_enabled" {% if form.api_enabled.data == 'True' %}checked{% endif %}>
              <label class="form-check-label" for="api_enabled">
                Enable API
              </label>
            </div>
            <div class="form-group mb-2" {% if not api_enabled %}style="display: none;"{% endif %} id="api_details">
              <label for="api_key">API Key</label>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <input type="text" class="form-control {% if form.api_key.errors%}is-invalid{% endif %}" name="api_key" id="api_key" placeholder="API key" {% if form.api_key.data %}value="{{ form.api_key.data }}"{% endif %} readonly>
                    <div class="input-group-append">
                      <button class="btn btn-secondary rounded-right btn-form" type="button" title="Generate API key" onclick="generateAPIKey()">
                        <i class="fas fa-sync-alt"></i>
                      </button>
                    </div>
                    <div class="invalid-feedback">
                      {% if form.api_key.errors %}
                      {{ form.api_key.errors[0] }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="mt-4 mb-3">Backups</h5>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" name="backups_enabled" id="backups_enabled" {% if form.backups_enabled.data == 'True' %}checked{% endif %}>
              <label class="form-check-label" for="backups_enabled">
                Enable backups
              </label>
            </div>
            <div class="form-group mb-2" {% if not backups_enabled %}style="display: none;"{% endif %} id="backups_details">
              <label for="backup_count">Number of backups to keep</label>
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="input-group">
                    <input type="text" class="form-control {% if form.backup_count.errors%}is-invalid{% endif %}" name="backup_count" id="backup_count" {% if form.backup_count.data %}value="{{ form.backup_count.data }}"{% endif %}>
                    <div class="input-group-append">
                      <span class="input-group-text rounded-right">backups</span>
                    </div>
                    <div class="invalid-feedback">
                      {% if form.backup_count.errors %}
                      {{ form.backup_count.errors[0] }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" name="save" value="Save" class="btn btn-success mt-4">
          </div>
          <div class="tab-pane" id="list-tags" role="tabpanel" aria-labelledby="list-tags-list">
            <h5>Customize Tags</h5>
            <table class="table table-borderless table-responsive text-center">
              <thead>
                <tr>
                  <th>Preview</th>
                  <th>Icon</th>
                  <th>Name</th>
                  <th>Color</th>
                  <th>Background</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="tag-tbody">
                {% for tag in custom_tags %}
                <tr id="tag-row-{{ loop.index - 1 }}" class="tag-tr">
                  <td class="pt-3 tag-preview"><a href="#"><span class="px-1 rounded recipe-tag" style="border-color: {{ custom_tags[tag]['color'] }};color: {{ custom_tags[tag]['color'] }};background-color: {{ custom_tags[tag]['b_color'] }};"><span class="tag-preview-icon"><i class="{{ custom_tags[tag]['icon'] }}"></i></span><span class="capitalize tag-preview-name"> {{ tag }}</span></span></a></td>
                  <td class="text-input-td"><input class="form-control text-center tag-icon-input" type="text" name="tag_icon-{{ loop.index - 1 }}" value="{% if custom_tags[tag]['icon'] %}{{ custom_tags[tag]['icon'] }}{% endif %}"></td>
                  <td class="text-input-td"><input class="form-control text-center tag-name-input lowercase" type="text" name="tag_name-{{ loop.index - 1 }}" value="{{ tag }}" onkeyup="return forceLower(this);"></td>
                  <td class="color-input-td"><input class="form-control p-0 border-0 tag-color-input" type="color" name="tag_color-{{ loop.index - 1 }}" value="{{ custom_tags[tag]['color'] }}"></td>
                  <td class="color-input-td"><input class="form-control p-0 border-0 tag-bcolor-input" type="color" name="tag_bcolor-{{ loop.index - 1 }}" value="{{ custom_tags[tag]['b_color'] }}"></td>
                  <td><button class="btn btn-danger btn-sm mt-1 remove-tag" type="button"><i class="fas fa-minus"></i></button></td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <td><button class="btn btn-outline-success mt-3 add-tag" type="button">Add tag</button></td>
              </tfoot>
            </table>
            <input type="submit" name="save" value="Save" class="btn btn-success mt-4">
          </div>
          <div class="tab-pane" id="list-third_party" role="tabpanel" aria-labelledby="list-third_party-list">
            <h4 class="mb-3">Nutrition Data</h4>
            <h5 class="mt-4 mb-3">Edamam</h5>
            <div class="form-group mb-2" id="edamam_details">
              <label for="edamam_id">Application ID</label>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <input type="text" class="form-control {% if form.edamam_id.errors%}is-invalid{% endif %}" name="edamam_id" id="edamam_id" {% if form.edamam_id.data %}value="{{ form.edamam_id.data }}"{% endif %}>
                    <div class="invalid-feedback">
                      {% if form.edamam_id.errors %}
                      {{ form.edamam_id.errors[0] }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <label for="edamam_key">Application Key</label>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <input type="text" class="form-control {% if form.edamam_key.errors%}is-invalid{% endif %}" name="edamam_key" id="edamam_key" {% if form.edamam_key.data %}value="{{ form.edamam_key.data }}"{% endif %}>
                    <div class="invalid-feedback">
                      {% if form.edamam_key.errors %}
                      {{ form.edamam_key.errors[0] }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" name="save" value="Save" class="btn btn-success">
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Tag row that gets added on click -->
  <div class="d-none">
    <table>
      <tr id="tag-row">
        <td class="pt-3 tag-preview"><a href="#"><span class="px-1 rounded recipe-tag"><span class="tag-preview-icon"></span><span class="capitalize tag-preview-name"></span></span></a></td>
        <td class="text-input-td"><input class="form-control text-center tag-icon-input" type="text" value=""></td>
        <td class="text-input-td"><input class="form-control text-center tag-name-input lowercase" type="text" value="" onkeyup="return forceLower(this);"></td>
        <td class="color-input-td"><input class="form-control p-0 border-0 tag-color-input" type="color" value=""></td>
        <td class="color-input-td"><input class="form-control p-0 border-0 tag-bcolor-input" type="color" value=""></td>
        <td><button class="btn btn-danger btn-sm mt-1 remove-tag" type="button"><i class="fas fa-minus"></i></button></td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
