{% extends "layout.html" %}

{% block title_container %}
<title>Update | Salt To Taste</title>
{% endblock %}

{% block body_container %}
  <div class="container mt-1">
    <h1 class="page-title mt-md-4 mb-md-2">Update Recipe</h1>
    <form class="needs-validation" method="post" enctype=multipart/form-data action="/update/{{ id }}" novalidate>
      {{ form.csrf_token }}
      <div class="form-row d-none">
        <div class="form-group col">
          <label for="form-recipe-id">ID:</label>
          <input class="form-control" type="text" name="id" id="form-recipe-id" value="{{ form.id.data }}" readonly>
        </div>
        <div class="form-group col">
          <label for="form-recipe-layout">Layout:</label>
          <select class="form-control" id="form-recipe-layout" name="layout">
            <option value="recipe">Recipe</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <label class="form-section-title pl-1">Details</label>
      </div>
      <div class="form-row row-cols-1 row-cols-md-2">
        <div class="col order-2 order-md-1">
          <div class="form-row">
            <div class="form-group col-12">
              <input type="text" class="form-control form-control-lg {% if form.title.errors %}is-invalid{% endif %}" id="form-recipe-title" name="title" placeholder="Title" {% if form.title.data %}value="{{ form.title.data }}"{% endif %}>
              <div class="invalid-feedback">
                {% if form.title.errors %}
                {{ form.title.errors[0] }}
                {% endif %}
              </div>
            </div>
            <div class="form-group col-12 col-md">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Source</span>
                </div>
                <input type="text" class="form-control {% if form.source.errors %}is-invalid{% endif %}" id="form-recipe-source" name="source" placeholder="https://example.com" {% if form.source.data %}value="{{ form.source.data }}"{% endif %}>
              </div>
              <div class="invalid-feedback">
                {% if form.source.errors %}
                {{ form.source.errors[0] }}
                {% endif %}
              </div>
            </div>
            <div class="form-group col-12 col-md">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Tags</span>
                </div>
                <input type="text" class="form-control lowercase {% if form.tags.errors %}is-invalid{% endif %}" id="form-recipe-tags" name="tags" placeholder="vegetarian, main" {% if form.tags.data %}value="{{ form.tags.data }}"{% endif %} onkeyup="return forceLower(this);">
              </div>
              <div class="invalid-feedback">
                {% if form.tags.errors %}
                {{ form.tags.errors[0] }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-md">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Prep</span>
                </div>
                <input type="text" class="form-control {% if form.prep.errors %}is-invalid{% endif %}" id="form-recipe-prep" name="prep" {% if form.prep.data %}value="{{ form.prep.data }}"{% endif %}">
                <div class="input-group-append">
                  <span class="input-group-text">m</span>
                </div>
              </div>
              <div class="invalid-feedback">
                {% if form.prep.errors %}
                {{ form.prep.errors[0] }}
                {% endif %}
              </div>
            </div>
            <div class="form-group col-12 col-md">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Cook</span>
                </div>
                <input type="text" class="form-control {% if form.cook.errors %}is-invalid{% endif %}" id="form-recipe-cook" name="cook" {% if form.cook.data %}value="{{ form.cook.data }}"{% endif %}>
                <div class="input-group-append">
                  <span class="input-group-text">m</span>
                </div>
              </div>
              <div class="invalid-feedback">
                {% if form.cook.errors %}
                {{ form.cook.errors[0] }}
                {% endif %}
              </div>
            </div>
            <div class="form-group col-12 col-md">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Ready</span>
                </div>
                <input type="text" class="form-control {% if form.ready.errors %}is-invalid{% endif %}" id="form-recipe-ready" name="ready" {% if form.ready.data %}value="{{ form.ready.data }}"{% endif %}>
                <div class="input-group-append">
                  <span class="input-group-text">m</span>
                </div>
              </div>
              <div class="invalid-feedback">
                {% if form.ready.errors %}
                {{ form.ready.errors[0] }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-md">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Servings</span>
                </div>
                <input type="text" class="form-control {% if form.servings.errors %}is-invalid{% endif %}" id="form-recipe-servings" name="servings" {% if form.servings.data %}value="{{ form.servings.data }}"{% endif %}>
              </div>
              <div class="invalid-feedback">
                {% if form.servings.errors %}
                {{ form.servings.errors[0] }}
                {% endif %}
              </div>
            </div>
            <div class="form-group col-12 col-md">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Calories</span>
                </div>
                <input type="text" class="form-control {% if form.calories.errors %}is-invalid{% endif %}" id="form-recipe-calories" name="calories" {% if form.calories.data %}value="{{ form.calories.data }}"{% endif %}>
              </div>
              <div class="invalid-feedback">
                {% if form.calories.errors %}
                {{ form.calories.errors[0] }}
                {% endif %}
              </div>
            </div>
            <div class="form-group col-12">
              <textarea class="form-control {% if form.description.errors %}is-invalid{% endif %}" id="description" rows="5" name="description" placeholder="Description" {% if form.description.data %}value="{{ form.description.data }}"{% endif %}>{% if form.description.data %}{{ form.description.data }}{% endif %}</textarea>
              <div class="invalid-feedback">
                {% if form.description.errors %}
                {{ form.description.errors[0] }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col order-1 order-md-2 pb-3">
          <div class="d-flex flex-column w-100 h-100 align-self-stretch align-items-stretch justify-content-center image-upload-container">
            <div class="position-relative flex-grow-1 {% if form.image.errors %}is-invalid{% endif %}">
              <div class="position-absolute d-flex w-100 h-100 align-items-center justify-content-center">
                <label class="btn add-image-btn"> Choose image...
                  <input type="file" class="custom-file-input d-none" id="form-recipe-image" name="image">
                </label>
              </div>
              <div class="position-absolute w-100 h-100 border rounded image-container {% if form.image.errors %}invalid-image{% endif %}" id="selected-image" {% if image %}style="background-image: url('{{ url_for('main.image', filename=image) }}')"{% endif %}></div>
            </div>
            <div class="invalid-feedback">
              {% if form.image.errors %}
              {{ form.image.errors[0] }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-section-title">Notes</label>
        {% for note in form.notes.data %}
        <div class="input-group mb-3">
          <input type="text" class="form-control note-field" name="notes-{{ loop.index - 1 }}" placeholder="Enter a note" value="{{ note }}">
          <div class="input-group-append">
            <button class="btn btn-danger remove" type="button"><svg class="svg-inline--fa fa-minus fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-minus"></i> --></button>
          </div>
        </div>
        {% endfor %}
        <div>
          <button class="btn btn-outline-success add-note" type="button">Add note</button>
        </div>
      </div>
      <div class="form-group">
        <label class="form-section-title">Ingredients</label>
        {% for ingredient in form.ingredients.data %}
        <div class="input-group mb-3">
          <input type="text" class="form-control ingredient-field" name="ingredients-{{ loop.index - 1 }}" placeholder="Enter an ingredient" value="{{ ingredient }}">
          <div class="input-group-append">
            <button class="btn btn-danger remove" type="button"><svg class="svg-inline--fa fa-minus fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-minus"></i> --></button>
          </div>
        </div>
        {% endfor %}
        <div>
          <button class="btn btn-outline-success add-ingredient" type="button">Add ingredient</button>
        </div>
      </div>
      <div class="form-group">
        <label class="form-section-title">Directions</label>
        {% for direction in form.directions.data %}
        <div class="input-group mb-3">
          <textarea class="form-control direction-field" rows="3" name="directions-{{ loop.index - 1 }}" placeholder="Enter a direction">{{ direction }}</textarea>
          <div class="input-group-append">
            <button class="btn btn-danger remove" type="button"><svg class="svg-inline--fa fa-minus fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-minus"></i> --></button>
          </div>
        </div>
        {% endfor %}
        <div>
          <button class="btn btn-outline-success add-direction" type="button">Add direction</button>
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col-12">
          <input type="submit" name="update" value="Update" class="btn btn-success btn-block">
        </div>
      </div>
    </form>

    <!-- Form fields that get added on click -->
    <div class="d-none">
      <div class="input-group mb-3" id="note-template">
        <input type="text" class="form-control" name="notes" placeholder="Enter a note">
        <div class="input-group-append">
          <button class="btn btn-danger remove" type="button"><i class="fas fa-minus"></i></button>
        </div>
      </div>
    </div>

    <div class="d-none">
      <div class="input-group mb-3" id="ingredient-template">
        <input type="text" class="form-control" name="ingredients" placeholder="Enter an ingredient">
        <div class="input-group-append">
          <button class="btn btn-danger remove" type="button"><i class="fas fa-minus"></i></button>
        </div>
      </div>
    </div>

    <div class="d-none">
      <div class="input-group mb-3" id="direction-template">
        <textarea class="form-control" rows="3" name="directions" placeholder="Enter a direction"></textarea>
        <div class="input-group-append">
          <button class="btn btn-danger remove" type="button"><i class="fas fa-minus"></i></button>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
